.bundle
/log/*
/tmp/*
log/*
tmp/*
!/log/.keep
!/tmp/.keep
master.key 

/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

config/master.key

node_modules/
tmp/
bundle.js
bundle.js.map
.DS_Store

Gemfile.lock 

package-lock.json
